@import 'normalize.css';


body {
    line-height: 1.5;

}



.sixteen-nine {
    position: relative;
}
.sixteen-nine:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
}
.map .sixteen-nine:before {
    display: none;
}
.sixteen-nine > .datamap {
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    right: 0;
    bottom: 0;
}
.form {
    position: absolute;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);


    min-width: 300px;

    border: 1px solid transparent;
    background: red;
    margin: 0 auto;
    width: 40%;
    max-width: 700px;
    transition: all 0.5s ease;
    z-index: 1;
}

.form:hover {

    border: 1px inset #333;

}

.off {
    transform: translate(-50%, 0);
    /* left: 0px; */
    border: 1px inset #333;
    top: 0;
    font-size: .3em;
    padding: 2px;
}

.fieldset {
    border: none;
}

.label {
    overflow: hidden;
    padding-right: .5em;
    display: block;
}
.submit {
    float:right;
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 1.1em;
    border-radius: 0;
}

.url {
    border: 2px solid #000;
    width:100%;
    padding: 10px 15px;
    font-size: 1.1em;
    border-radius: 0;
    box-sizing: border-box;
}



.submit::-moz-focus-inner {
    border: 1px;
}

.footer {
    .footer-wrapper {
        max-width: 600px;
        margin: 0 auto;
    }
    position: fixed;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    background: red;

    .footer-info {
        float: left;
    }
}

.download {
    float: right;
    list-style-type: none;
    li {
        float: left;
    }
}