@import 'normalize.css';


body {
    line-height: 1.5;

}

* {

    margin: 0;
    padding: 0;
}

.datamap {

    position: relative;

}

.form {
    position: absolute;
    left: 50%;
    padding: 20px;
    min-width: 300px;
    top: 50%;
    border: 1px solid transparent;
    background: red;
    /*
    Nope =(
    margin-left: -25%;
    margin-top: -25%;
    */

    /*
    Yep!
    */
    transform: translate(-50%, -50%);

    /*
    Not even necessary really.
    e.g. Height could be left out!
    */
    width: 40%;
    transition: all 0.5s ease;
    z-index: 1;
}

.form:hover {

    border: 1px inset #333;

}

.off {
    transform: translate(-50%, 0);
    /* left: 0px; */
    border: 1px inset #333;
    top: 0;
    font-size: .7em;
    padding: 2px;
}

.fieldset {
    display: table-row;
    border: none;
}

.url,
.submit {
    display: table-cell;
    width: 79%;
    padding: 10px 15px;
    font-size: 1.1em;
    border-radius: 0;
    box-sizing: border-box;
}

.url {
    border: 2px solid #000;
}

.submit {
    width: 21%;
    background-color: #ffff00;
    -webkit-appearance: none;
    display: inline;

    border-radius: 0;
    /**
     * If the input field has a border,
     * you need it here too to achieve equal heights.
     */
    border: 2px inset black;
}

.submit::-moz-focus-inner {
    border: 1px;
}

.footer {
    .footer-wrapper {
        max-width: 600px;
        margin: 0 auto;
    }
    position: fixed;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    background: red;

    .footer-info {
        float: left;
    }
}

.download {
    float: right;
    list-style-type: none;
    li {
        float: left;
    }
}